:root {
  font-family: 'Segoe UI', 'Trebuchet MS', sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #f3f1ff;
  background-color: #120f1c;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #120f1c;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}
